language: python

python:
  - 3.5
  - 3.8

envs:
  - TOXENV=django22
  - TOXENV=quality

script:
  - tox
  - make test

addons:
  firefox: "46.0"

services:
  - xvfb

before_install:
  - "export DISPLAY=:99.0"

install:
    - npm install
    - "pip install -r requirements/base.txt"
    - "pip install -r requirements/testing.txt"
    - "pip install coveralls==1.1"

after_success: coveralls

branches:
    only:
      - master
      - cdodge/mcka-master
      - cdodge/notification-digest
