language: python

matrix:
  include:
    - python: "2.7"
      env: DJANGO_SETTINGS_MODULE=settings
      script:
        - tox -e py27
        - ./node_modules/gulp/bin/gulp.js test
        - bash ./run_bokchoy_tests.sh

    - python: "3.5"
      env: DJANGO_SETTINGS_MODULE=settings
      script:
        - tox -e py35
        - ./node_modules/gulp/bin/gulp.js test
        - bash ./run_bokchoy_tests.sh

addons:
  firefox: "52.0.3"

services:
  - xvfb

before_install:
  - wget "https://github.com/mozilla/geckodriver/releases/download/v0.24.0/geckodriver-v0.24.0-linux64.tar.gz"
  - tar xfz geckodriver-v0.24.0-linux64.tar.gz
  - sudo mv geckodriver /usr/local/bin
  - "export DISPLAY=:99.0"

install:
    - npm install
    - "pip install -r requirements/base.txt"
    - "pip install -r requirements/testing.txt"
    - "pip install coveralls==1.1"

after_success: coveralls

branches:
    only:
      - master
      - cdodge/mcka-master
      - cdodge/notification-digest
      - rebase-ironwood
