language: python
services: mongodb
python:
  - "2.7"
env:
  - DJANGO_SETTINGS_MODULE=settings

before_install:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
    - "sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 7F0CEB10"
    - "echo 'deb http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen' | sudo tee /etc/apt/sources.list.d/mongodb.list"
    - "sudo apt-get update"
    - "sudo apt-get install mongodb-org-server"

install:
    - npm install
    - "pip install -r requirements.txt"
    - "pip install -r test_requirements.txt"
    - "pip install coveralls"

script:
    - ./manage.py syncdb --noinput --settings=testserver.settings
    - ./manage.py migrate --settings=testserver.settings
    - coverage run ./manage.py test edx_notifications
    - coverage report -m
    - gulp test
    - bash ./run_bokchoy_tests.sh
    - pep8 edx_notifications
    - pylint edx_notifications --report=no

after_success: coveralls

branches:
    only:
      - master
      - cdodge/mcka-master
      - cdodge/notification-digest
