language: python
python:
  - "2.7"
env:
  - DJANGO_SETTINGS_MODULE=settings

install:
    - "pip install -r requirements.txt"
    - "pip install -r test_requirements.txt"
    - "pip install coveralls"

script:
    - coverage run ./manage.py test
    - coverage report -m
    - pep8 notifications
    - pylint notifications --report=no

after_success: coveralls
