# Django/Framework Packages
django>=1.4.12,<=1.4.18
django-model-utils==1.4.0
South>=0.7.6
python-dateutil==2.1
pylru==1.0.6
djangorestframework>=2.3.5,<=2.3.14
pytz==2012h
PyContracts==1.6.5
underscore.py==0.1.6
pynliner==0.5.2
