# Django/Framework Packages
django==1.8.13
django-model-utils==2.3.1
python-dateutil==2.1
pylru==1.0.6
#djangorestframework==3.2.3
git+https://github.com/edx/django-rest-framework.git@3c72cb5ee5baebc4328947371195eae2077197b0#egg=djangorestframework==3.2.3
pytz==2015.2
PyContracts==1.7.1
underscore.py==0.1.6
pynliner==0.5.2
-e git+https://github.com/dgrtwo/ParsePy.git@7949b9f754d1445eff8e8f20d0e967b9a6420639#egg=parse_rest
