{% comment %}

This is a "drop-in" Django template widget to instantiate the edx-notifications front end application
which is a Backbone application that is defined in edx_notifications/server/web/static/js

This HTML snippet assumes that jQuery been included in the page that is using this widget

{% endcomment %}

<div id='edx_notification_container'></div>
<div id="edx_notification_pane"></div>

<script src="{{ STATIC_URL }}edx_notifications/js/vendor/underscore.js"></script>
<script src="{{ STATIC_URL }}edx_notifications/js/vendor/backbone.js"></script>

<script src="{{ STATIC_URL }}edx_notifications/js/models/counter_icon_model.js"></script>
<script src="{{ STATIC_URL }}edx_notifications/js/models/user_notification_model.js"></script>
<script src="{{ STATIC_URL }}edx_notifications/js/models/notification_collection_model.js"></script>

<script src="{{ STATIC_URL }}edx_notifications/js/views/counter_icon_view.js"></script>
<script src="{{ STATIC_URL }}edx_notifications/js/views/notification_pane_view.js"></script>


<script type="text/javascript">
    /* start up the root Notification view, which will bootstrap the whole front-end */
    var counter_icon = new CounterIconView({
        el: $("#edx_notification_container"),
        pane_el: $("#edx_notification_pane"),
        unread_notification_count_endpoint: "{% autoescape off %}{{ unread_notification_count_endpoint }}{% endautoescape %}",
        user_notifications_endpoint: "{{ user_notifications_endpoint }}"
    });
</script>
