{% comment %}

This is a "drop-in" Django template widget to instantiate the edx-notifications front end application
which is a Backbone application that is defined in edx_notifications/server/web/static/js

This HTML snippet assumes that jQuery, Backbone, DateJS, and Underscore have been included in the
page that is using this widget

{% endcomment %}


<script src="{{ STATIC_URL }}edx_notifications/js/models/counter_icon_model.js"></script>
<script src="{{ STATIC_URL }}edx_notifications/js/models/user_notification_model.js"></script>
<script src="{{ STATIC_URL }}edx_notifications/js/collections/notification_collection.js"></script>

<script src="{{ STATIC_URL }}edx_notifications/js/views/counter_icon_view.js"></script>
<script src="{{ STATIC_URL }}edx_notifications/js/views/notification_pane_view.js"></script>


<script type="text/template" id="xns-counter-template">
    <% if (typeof count !== 'undefined' && count > 0) { %>
    <%= count %>
    <% } %>
</script>

<script type="text/template" id="xns-pane-template">
    <div class="xns-container">
        <div class="xns-content <%= selected_pane %>">
            <div class="xns-list-header">
                <h2>Notifications</h2>
                <div class="xns-actions">
                    <ul class="xns-tab-list">
                        <li class="xns-unread-action active"><a  href="#">View unread</a></li>
                        <li class="xns-all-action"><a href="#">View all</a></li>
                        <li class="xns-mark-read-action"><a href="#">Mark as read</a></li>
                        <% if (typeof this.global_variables.hide_link_is_visible != 'undefined' &&
                        this.global_variables.hide_link_is_visible != 'False') { %>
                            <li class="xns-hide-pane"><a href="#">Hide</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="nxs-list-body">
                <ul class="xns-items">
                    <% if (typeof grouped_user_notifications == 'undefined' || grouped_user_notifications.length == 0) { %>
                        <li class='xns-empty-list'>
                            <p class="xns-no-notifications-msg xns-item">You have no unread notifications.</p>
                        </li>
                    <% } else { %>
                        <% _.each(grouped_user_notifications, function(grouped_user_notification){ %>
                            <h3 class="xns-group"><%= grouped_user_notification.group_title %></h3>
                            <% _.each(grouped_user_notification.messages, function(message){ %>
                                <li class="xns-item" id="<%= message.msg.id %>">
                                    <% if (selected_pane == 'unread' && always_show_dates_on_unread) { %>
                                        <div class="xns-item-date">
                                            <% if (Date.equals(new Date(message.msg.created).clearTime(), Date.today())) { %>
                                                Today at <%= new Date(message.msg.created).toString("h:mmtt") %>
                                            <%} else {%>
                                                <%= new Date(message.msg.created).toString("MMMM dd, yyyy") %> at <%= new Date(message.msg.created).toString("h:mmtt") %>
                                            <% } %>
                                        </div>
                                    <% } %>
                                    <div class="xns-item-body">
                                        <span data-msg-id="<%= message.msg.id %>" data-click-link="<%=message.msg.payload['_click_link']%>" class='xns-<%= message.group_name %>'><%= message.html %></span>
                                    </div>
                                    <% if (selected_pane == 'unread') { %>
                                          <div data-msg-id="<%= message.msg.id %>" class="xns-close-item"><span class='xns-close-item-x'>x</span></div>
                                    <% } %>
                                </li>
                            <% }); %>
                        <% }); %>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    Backbone.$.ajaxSetup({ cache: false });
    var notification_counter_icon = new CounterIconView({
        el: $(".xns-icon"),
        count_el: $(".xns-counter"),
        pane_el: $(".xns-pane"),
        endpoints: {
            unread_notification_count: "{% autoescape off %}{{ endpoints.unread_notification_count }}{% endautoescape %}",
            mark_all_user_notifications_read: "{% autoescape off %}{{ endpoints.mark_all_user_notifications_read }}{% endautoescape %}",
            user_notifications_all: "{% autoescape off %}{{ endpoints.user_notifications_all }}{% endautoescape %}",
            user_notifications_unread_only: "{% autoescape off %}{{ endpoints.user_notifications_unread_only }}{% endautoescape %}",
            renderer_templates_urls: "{% autoescape off %}{{ endpoints.renderer_templates_urls }}{% endautoescape %}",
            user_notification_mark_read: "{% autoescape off %}{{ endpoints.user_notification_mark_read }}{% endautoescape %}"
        },
        global_variables: {
            app_name: "{{ global_variables.app_name }}",
            hide_link_is_visible: "{{ global_variables.hide_link_is_visible}}",
            always_show_dates_on_unread: false
        },
        refresh_watcher: {
            name: "{{refresh_watcher.name}}",
            args: {
            {% if refresh_watcher.name == 'short-poll' %}
                poll_period_secs: {{ refresh_watcher.args.poll_period_secs }}
            {% endif %}
            }
        },
        view_audios: {
            notification_alert: "{% autoescape off %}{{ view_audios.notification_alert }}{% endautoescape %}"
        },
        namespace: {% if namespace %}"{{namespace}}"{% else %}null{% endif %}
    });
</script>

