<html lang="">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
</head>

<body>
<div style="width:650px;margin:0 auto;">
  <div style="margin-bottom:20px;">
    <div style="display:inline-block;"> <img src="cid:{{img_logo1_cid}}" width="72" height="48"> </div>
    <div style="display:inline-block;float:right;"> <img src="cid:{{img_logo2_cid}}" width="150" height="50"> </div>
  </div>
  <div>
     <ul style="padding-left:0;margin-top:0;margin-bottom:10px; list-style-type: none;">
       <h3 style="text-transform: uppercase;padding-bottom: 10px;margin-bottom: 5px;border-bottom: 2px solid #E8E8E8;font-family:Arial, Helvetica, sans-serif;font-size:15px; font-weight:bold;margin-top:10px;">Discussion</h3>
       <li>
          <div style="border-bottom:1px solid #e8e8e8; padding-top:5px; padding-bottom:10px;">
             <div style="font-size:13px;font-family:Arial, Helvetica, sans-serif;font-style:italic;color:#999;font-weight:300;">March 19, 2015 at 4:21PM</div>
             <span style="padding-bottom:5px;font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#333;"> Your post <a name="google" href="http://www.google.com" style="color:#328FE0;font-weight:bold;text-decoration:none;">Whi this discussion?</a> was upvoted 2 times</span>
          </div>
       </li>
       <li>
          <div style="border-bottom:1px solid #e8e8e8; padding-top:10px; padding-bottom:10px;">
             <div style="font-size:13px;font-family:Arial, Helvetica, sans-serif;font-style:italic;color:#999;font-weight:300;">March 22, 2015 at 4:21PM </div>
             <span style="padding-top:5px;padding-bottom:5px;font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#333;"> Your post <a name="yahoo" href="http://www.yahoo.com" style="color:#328FE0;font-weight:bold;text-decoration:none;">Whi this discussion?</a> was upvoted 2 times</span>
          </div>
       </li>
       <h3 style="text-transform: uppercase;padding-bottom: 10px;margin-bottom: 5px;border-bottom: 2px solid #E8E8E8;font-family:Arial, Helvetica, sans-serif;font-size:15px; font-weight:bold;margin-top:10px;">Leaderboards</h3>
       <li>
          <div style="border-bottom:1px solid #e8e8e8; padding-top:5px; padding-bottom:10px; font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#333;">
             You are now
             <span style="color:#328FE0;font-weight:bold;">#3</span>
             for <span style="color:#328FE0;font-weight:bold;">Proficiency</span> in the cohort!
          </div>
       </li>
       <li>
          <div style="border-bottom:1px solid #e8e8e8; padding-top:5px; padding-bottom:10px; font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#333;">
             You are now
             <span style="color:#328FE0;font-weight:bold;">#2</span>
             for <span style="color:#328FE0;font-weight:bold;">Proficiency</span> in the cohort!
          </div>
       </li>
     </ul>
    <div style="margin-top:50px;border-top: 1px solid #e8e8e8;font-size:12px;color:#999;font-family:Arial, Helvetica, sans-serif;padding-top:5px;">"This email was automatically sent from test@edx.org to testuser@edx.org"
</div>
    </div>
  </div>
</body>
</html>