<div class="xns-list-body">
    <ul class="xns-items">
        {% if grouped_user_notifications.length == 0 %}
            <li class='xns-empty-list'>
                <p class="xns-no-notifications-msg xns-item">You have no unread notifications.</p>
            </li>
        {% else %}
            {% for grouped_user_notification in grouped_user_notifications %}
                <h3 class="xns-group">{{ grouped_user_notification.group_title }}</h3>
                {% for message in grouped_user_notification.messages %}
                    <li class="xns-item" id="{{ message.msg.id }}">
                        <div class="xns-item-body">
                            <span data-msg-id="{{ message.msg.id }}" data-click-link="" class='xns-{{ message.group_name }}'>{{ message.html }}</span>
                        </div>
                    </li>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </ul>
</div>