<html>
<head>
    <script data-main="static/js/main" src="static/js/require.js"></script>
</head>
<body>

    <p>Welcome {{ user.username }} !!!</p>
    <a href="/logout/">Logout</a>

    <h1>Notifications List</h1>

    {# use the "drop-in" widget that is defined in edx_notifications/server/web/templates/django #}

    {% include "django/notifications_widget.html" %}

    <hr />
    <h2>Here are some actions you can take</h2>
    <form method='POST'>
        {% csrf_token %}
        <label>Notification Type</label><select name='notification_type' />
            {% for t in notification_types %}
                <option value='{{t.name}}'>{{t.name}}</option>
            {% endfor %}
        </select>
        <input type='submit' name='add_notifications' value='add a notification' />
    </form>
</body>
</html>
