<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- <script src="/static/js/jquery-1.11.2.min.js"></script> -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/underscore.js"></script>
    <script type="text/javascript" src="/static/js/backbone.js"></script>
    <script type="text/javascript" src="/static/js/date.js"></script>

</head>
<body>

    <p>Welcome {{ user.username }} !!!</p>
    <a href="/logout/">Logout</a>

    <h1>Notifications List</h1>

    <div>
        <img class="edx-notifications-icon" src="/static/edx_notifications/img/notification_icon.jpg" />
        <span class='edx-notifications-count-number'></span>
    </div>
    <div class="edx-notification-pane"></div>

    {# use the "drop-in" widget that is defined in edx_notifications/server/web/templates/django #}
    {% include "django/notifications_widget.html" %}

    <hr />

        <h2>CURRENT NAMESPACE: {{namespace}}<h2>
    <h3>Here are some actions you can take</h3>
    <form method='POST'>
        {% csrf_token %}
        <br />
        <label>Change Namespace</label>
        <select name='namespace'>
            <option value='None'>None</option>
            <option value='foo/bar/baz'>foo/bar/baz</option>
            <option value='test/test/test'>test/test/test</option>
        </select>
        <input type='submit' name='change_namespace' value='Change Namespace' />
        <br />
        <br />
        <label>Notification Type</label><select name='notification_type' >
            {% for t in notification_types %}
                <option value='{{t.name}}'>{{t.name}}</option>
            {% endfor %}
        </select>
        <input type='submit' name='add_notifications' value='add a notification' />
    </form>
</body>
</html>
