<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/styles.css">

    <script type="text/javascript">
        var _edxnotifications_requirejs_path_overrides = {
            jquery: '/static/js/jquery-1.11.2.min',
            backbone: '/static/js/backbone',
            underscore: '/static/js/underscore',
            text: '/static/js/text',
            date: '/static/js/date'
        }
    </script>

    <script src="static/js/require.js" data-main="/static/edx_notifications/js/main"></script>
    <script src="static/js/RequireJS-namespace.js"></script>

</head>
<body>

    <p>Welcome {{ user.username }} !!!</p>
    <a href="/logout/">Logout</a>

    <h1>Notifications List</h1>

    {# use the "drop-in" widget that is defined in edx_notifications/server/web/templates/django #}

    {% include "django/notifications_widget.html" %}

    <hr />
    <h2>Here are some actions you can take</h2>
    <form method='POST'>
        {% csrf_token %}
        <label>Notification Type</label><select name='notification_type' />
            {% for t in notification_types %}
                <option value='{{t.name}}'>{{t.name}}</option>
            {% endfor %}
        </select>
        <input type='submit' name='add_notifications' value='add a notification' />
    </form>
</body>
</html>
