<div class="edx-notifications-container">
    <div class="edx-notifications-content">
        <h2>Notifications</h2>
        <div class="actions">
            <ul class="notifications_list_tab">
                <li class="unread_notifications active"><a  href="#">View unread</a></li>
                <li class="user_notifications_all"><a href="#">View all</a></li>
                <li class="mark_notifications_read"><a href="#">Mark as read</a></li>
                <li class="hide_pane"><a href="#">Hide</a></li>
            </ul>
        </div>
        <ul>
            <% if (typeof user_notifications == 'undefined' || user_notifications.length == 0) { %>
                <li>
                    <p class="description">You have no unread notifications.</p>
                </li>
            <% } else { %>
            <% _.each(user_notifications, function(user_notification){ %>

            <li>
                <h3 class="borderB padB5 uppercase bold marB10">Annoucments</h3>
                <h3 class="marT0"><a href="">Welcome to <%= global_variables.app_name %></a></h3>
                <div class="date">
                    <%= new Date(user_notification.msg.created).toString('MMMM dd, yyyy') %>
                </div>
                <p class="description"><%= user_notification.html %></p>
            </li>
            <% }); %>
            <% } %>
        </ul>
    </div>
</div>
